#random-user-header {
    min-height: 150px;
    max-height: 150px;

    border-radius: 0;

    position: relative;

    background-color: #889c7c;
}

#action-bar {
    min-height: 30px;
    max-height: 30px;

    position: absolute;

    bottom: 0;
    right: 0;
}

.action-button {
    border-radius: 10px;
    border: none;
}

.action-button:hover {
    background-color: #32373d;
    color: white;
}

#random-user-pic { font-size: 2em; }